In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/companies.csv')

In [4]:
df.describe()

         company_id  company_size
count  2.447300e+04  21699.000000
mean   2.052239e+07      3.349233
std    3.165929e+07      1.904503
min    1.009000e+03      1.000000
25%    1.654040e+05      2.000000
50%    2.738154e+06      3.000000
75%    2.624142e+07      5.000000
max    1.034730e+08      7.000000

In [5]:
df.shape

(24473, 10)

In [6]:
df.columns.to_list()

['company_id',
 'name',
 'description',
 'company_size',
 'state',
 'country',
 'city',
 'zip_code',
 'address',
 'url']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24473 entries, 0 to 24472
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    24473 non-null  int64
 1   name          24472 non-null  object
 2   description   24176 non-null  object
 3   company_size  21699 non-null  float64
 4   state         24451 non-null  object
 5   country       24473 non-null  object
 6   city          24472 non-null  object
 7   zip_code      24445 non-null  object
 8   address       24451 non-null  object
 9   url           24473 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.9+ MB

In [8]:
df.head()

,company_id,name,description,company_size,state,country,city,zip_code,address,url
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,0,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare
2,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...
3,1028,Oracle,We’re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle
4,1033,Accenture,Accenture is a leading global professional ser...,7.0,0,IE,Dublin 2,0,Grand Canal Harbour,https://www.linkedin.com/company/accenture

In [9]:
df.tail()

,company_id,name,description,company_size,state,country,city,zip_code,address,url
24468,103463217,JRC Services,NaN,2.0,0,0,0,0,0,https://www.linkedin.com/company/jrcservices
24469,103466352,Centent Consulting LLC,Centent Consulting LLC is a reputable human re...,NaN,0,0,0,0,0,https://www.linkedin.com/company/centent-consu...
24470,103467540,"Kings and Queens Productions, LLC",We are a small but mighty collection of thinke...,NaN,0,0,0,0,0,https://www.linkedin.com/company/kings-and-que...
24471,103468936,WebUnite,Our mission at WebUnite is to offer experience...,NaN,Pennsylvania,US,Southampton,18966,720 2nd Street Pike,https://www.linkedin.com/company/webunite
24472,103472979,BlackVe,NaN,1.0,0,0,0,0,0,https://www.linkedin.com/company/blackve

In [10]:
#total nulls per column
df.isnull().sum()

company_id         0
name               1
description      297
company_size    2774
state             22
country            0
city               1
zip_code          28
address           22
url                0
dtype: int64

In [11]:
#percentage of missing values 
df.isnull().mean() * 100

company_id       0.000000
name             0.004086
description      1.213582
company_size    11.334941
state            0.089895
country          0.000000
city             0.004086
zip_code         0.114412
address          0.089895
url              0.000000
dtype: float64

In [12]:
#Number of Unique values per column
df.nunique()

company_id      24473
name            24428
description     24164
company_size        7
state             788
country            81
city             4124
zip_code         7779
address         19476
url             24473
dtype: int64

In [ ]:
#Unique values per column
for col in df.columns:
    print(col, df[col].unique())

#you can also use .tolist() to get unique values as a list but it may slow down for large datasets

company_id [     1009      1016      1025 ... 103467540 103468936 103472979]
name ['IBM' 'GE HealthCare' 'Hewlett Packard Enterprise' ...
 'Kings and Queens Productions, LLC' 'WebUnite' 'BlackVe']
description ['At IBM, we do more than work. We create. We create as technologists, developers, and engineers. We create with our partners. We create with our competitors. If you\'re searching for ways to make the world work better through technology and infrastructure, software and consulting, then we want to work with you.\n\nWe\'re here to help every creator turn their "what if" into what is. Let\'s create something that will change everything.'
 'Every day millions of people feel the impact of our intelligent devices, advanced analytics and artificial intelligence. As a leading global medical technology and digital solutions innovator, GE HealthCare enables clinicians to make faster, more informed decisions through intelligent devices, data analytics, applications and services, supported by its Edison intelligence platform.\n\nWith over 100 years of healthcare industry experience and around 50,000 employees globally, the company operates at the center of an ecosystem working toward precision health, digitizing healthcare, helping drive productivity and improve outcomes for patients, providers, health systems and researchers around the world.\n\nWe embrace a culture of respect, transparency, integrity and diversity and we work to create a world where healthcare has no limits.'
 'Official LinkedIn of Hewlett Packard Enterprise, the global edge-to-cloud company. Sharing our passion and purpose through technology and innovation. '
 ...
 'Centent Consulting LLC is a reputable human resource, business, and IT consulting firm dedicated to delivering professional consulting services to clients and partners globally. We provide outsourcing, staffing, consulting, and workforce training within the areas of IT, accounting and finance, data analytics, healthcare and life sciences, office and administration, and sales and marketing. Since our establishment in 2023, we have collaborated with clients of varying sizes and across diverse industries, including IT, Data, Finance, Biotech, and Human Resources. Our commitment is to assist them in achieving their business objectives by recruiting or deploying our value-added professional staff. \n\n\n'
 'We are a small but mighty collection of thinkers, doers, and creatives with a decade of experience working with brands around the world. Kings and Queens Productions specializes in using the right people for the job. Whether you have a small budget or large, we have directors and crew to fit every need. From million dollar campaigns, to product photography, to social media animation, Kings and Queens Productions has you covered.\nWe know what traditional agencies offer, and we want to cut out the BS! You have ideas you want to come to life, and we want to partner with you to execute on those ideas. No fluff, no unneeded meetings, no BS.'
 'Our mission at WebUnite is to offer experience-based solutions and highly qualified professionals to ensure your project’s success. We are committed to sharing our collective experience with our clients, thereby adding significant value to your business endeavors. \n\nOur business model is designed to be competitive, flexible, and responsive, bridging any gaps in your projects. We focus on adding value to your organization, irrespective of your team’s experience or industry.\n\nWe stand out as one of the few firms specializing exclusively in organizational change and ERP strategies for the Cabinetry Industry. Our team, composed of experts and proven practitioners, offers niche expertise in organizational change, readiness, and digital transformation.\n\nOur unique strength lies in our deep understanding of the challenges and opportunities within the private equity sector. WebUnite is committed to doing business with respect, integrity, and transparency.\n\nStrong Business & Investor Sense. Our approach is grounded in strong business acumen and investor insights. We apply these principles to our M&A and Digital Transformation projects, ensuring they are based on proven objective approaches. Our methodology begins with coaching, education, and leadership training, laying a solid foundation for project success.\n\nPrivate Equity and Growth Focused. Our unique strength lies in our deep understanding of the challenges and opportunities within the private equity sector. WebUnite is committed to doing business with respect, integrity, and transparency.\n\nCabinetry Industry Focused. We stand out as one of the few firms specializing exclusively in organizational change and ERP strategies for the Cabinetry Industry. Our team, composed of experts and proven practitioners, offers niche expertise in organizational change, readiness, and digital transformation.']
company_size [ 7.  5.  4.  6.  3.  2.  1. nan]
state ['NY' '0' 'Texas' 'Washington' 'TX' 'California' 'Stockholm' 'CA'
 'Illinois' 'Southern Finland' 'Noord-Brabant' 'Noord-Holland' 'NJ' 'BW'
 'Ohio' 'NC' 'New York' 'DC' 'London' 'Hessen' 'England' 'Pennsylvania'
 'Karnataka' 'MA' 'OH' 'North Carolina' 'Maharashtra' 'MD' 'Connecticut'
 'VA' 'WA' 'Middlesex' 'ON' 'Baselstadt' 'Quebec' 'Va' 'New Jersey'
 'Michigan' 'MI' 'IL' 'GA' 'Georgia' 'MO' 'Virginia' 'Cambridgeshire'
 'France' 'ma' 'Massachusetts' 'Indiana' 'Tennessee' 'PA' 'Uttar Pradesh'
 'Wisconsin' 'Ontario' 'MN' 'North Rhine-Westphalia' 'Zurich'
 'Île-de-France' 'Paris -  Issy-les-Moulineaux' 'Utrecht' 'CO' 'OR' 'CT'
 'VGR' 'Minnesota' 'Maryland' 'DE' 'Ireland' 'Arizona' 'Paris' 'FL' 'WI'
 '-' 'wa' 'Arkansas' 'il' 'Québec' 'Zuid-Holland' 'ca' 'NSW' 'Idaho'
 'Kentucky' 'D.C.' 'North Holland' 'AZ' 'Paris Region' 'Fl' 'Berkshire'
 'Florida' 'West Sussex' 'tx' 'Noord Holland' 'Rhineland-Palatinate'
 'South Holland' 'RI' 'Montana' 'KY' 'District of Columbia' 'Weybridge'
 'Ile de France' 'Georgia ' 'Colorado' 'Hertfordshire' 'TN' 'SC' 'pa'
 'Baden-Württemberg' 'Bavaria' 'Basel' 'Auvergne-Rhône-Alpes' 'Geneva'
 'Oslo' 'SP' 'Alabama' 'Denmark' 'Iowa' 'Nuevo León' 'Schwyz' 'IN'
 'Copenhagen' 'Sweden' 'mo' 'UT' 'Missouri' 'Utah' 'Uusimaa' 'CH' 'ny'
 'Skane County' 'Oxfordshire' 'Surrey' 'New Taipei City' 'Kanagawa' 'AR'
 'Gästrikland' 'Middle Jutland' 'Switzerland' 'Ile-de-France' 'NM'
 'Stockholm County' 'Nuevo Leon' 'NH' 'Delaware' 'UK' 'Luxembourg'
 'Virginia ' 'Oregon' 'Norfolk' 'Gauteng' 'Kansas' 'Nederland' 'NE' 'U.P.'
 'DK' 'Rhode Island' 'New South Wales (NSW)' 'United Kingdom' 'Michigan '
 'OK' 'Zug' 'Schleswig-Holstein' 'Skåne' 'Florence' 'AB' 'WV' 'LA'
 'Romania' 'South Carolina' 'Oklahoma' 'Bayern' 'AL' 'Greater London'
 'West-Vlaanderen' '55077' 'New Hampshire' 'Japan' 'Victoria' 'Alberta'
 'Hauts-de-Seine' 'South Denmark' 'ky' 'Maine' 'NV' 'Limburg' 'AK'
 'Singapore' 'Alaska' "Provence-Alpes-Cote d'Azur" 'NY ' 'New South Wales'
 'Hong Kong' 'Ga' 'IL ' 'Tokyo' 'Vermont' 'Taiwan' 'fl' 'NRW'
 'North Rhine-Westphalia ' 'MS' 'KS' 'va' ' New York' 'Lower Saxony'
 'Nevada' '94086' 'IA' 'Stezzano' 'New York ' '.' 'Helsinki' 'Nebraska'
 'in' 'New Mexico' 'Rheinland-Pfalz' 'AG' 'ZH' 'Nottinghamshire' 'QC'
 'West Midlands' 'Leeds' 'HI' 'Italy' 'Styria' 'County Armagh' 'Vizcaya'
 'Western Australia' 'Roma' 'N.W.' 'Ohio ' 'ID' 'md' 'Tn' 'Kanto'
 'Harju maakond' 'Telangana' 'NY.' '01824' 'Wichita, KS' 'Lombardy'
 'Walloon Region' 'A Coruña' 'North East' 'East Flanders' 'az' 'Madrid'
 'Cheshire' 'Milan' 'Oftringen' 'Tamil Nadu' 'or' 'Barcelona' 'BS' 'ME'
 'Spain' 'Île de France' 'sd' 'Ca' 'DISTRICT OF COLUMBIA' 'VT' 'BC'
 'Louisiana' 'WA ' 'Hawaii' 'ne' 'CO - Colorado' 'Essex'
 'Plymouth Meeting, PA, ' 'wi' 'Primary Offices' 'SD' 'ms'
 'Seine-Saint-Denis' 'co' 'Brussels' 'CALIFORNIA' 'Tx' '28801'
 'Baden-Würtemberg' 'Bedfordshire' 'Il' 'vt' 'Community of Madrid'
 'Nordrhein-Westfalen' 'Vaud' 'Genève' 'Mississippi' 'Hauts-de-France'
 '40223' 'mn' 'Qc' 'Iceland' 'QLD' 'Iowa ' 'Zuid-Limburg' 'VIC'
 'West Flanders' 'Md.' 'GE' 'IdF' 'nc' 'Warrington' 'Lombardia'
 'Greater Manchester' 'MA ' 'SAR' 'Bermuda' 'North Dakota' 'Queensland'
 'Western North Carolina' 'Gujarat' 'Aargau' 'Hyogo' 'South Dakota'
 'Alpes Maritimes' 'Rio Grande do Sul' 'Wisconsin ' 'MC' 'In' 'PA 18916'
 'Tamilnadu' 'Germany' 'NS' 'ga' 'NB' 'ND' 'Buckinghamshire'
 'West Virginia' 'oh' 'Waikato' 'New Jersey '
 'County / Dublin postal district' 'Al' 'MASSACHUSETTS' 'PENNSYLVANIA'
 'israel' 'MUMBAI' 'East Sussex' 'Dublin' 'Bassett, VA' 'Beverly Hills'
 'Budapest' 'Brussels Region' 'Californië' 'Comunidad de Madrid' 'WY' 'MT'
 'Pa' 'County Antrim' 'Vorarlberg' 'North Yorkshire' 'AUK'
 'North Rhine Westphalia' 'Ontario ' 'K' 'California ' 'British Columbia'
 'TENNESSEE' 'Mo' 'AL - Alabama' 'PA ' 'Wiltshire' '11th Floor' '21146'
 'Vicenza' 'University Park, IL' 'Flevoland' 'Taipei' 'Belgium'
 'Courbevoie' 'Basel-Country' 'Paris Area' 'Netherlands' 'VI' 'Jebel Ali'
 'ia' 'Valby' 'N.C.' '49423' 'TS' 'Worldwide' 'sc' nan 'SZ' 'AMSTERDAM'
 'Brisbane' 'Neuchâtel' 'Guangdong' 'Noord Brabant'
 'Germany, India, China' 'Tyne and Wear' 'globally' 'Missouri ' 'USA'
 'Gtr Manchester' 'Marches' 'Luton' 'Shanghai' 'Haryana' 'La' 'N.D.'
 'Neuhausen am Rheinfall' 'Northamptonshire' 'Mauritius' 'Skane'
 'Monterrey N.L' 'Kent' 'MI - Michigan' 'UAE' 'Nangang District'
 'District of Columbia (D.C.)' 'Md' 'Milano' 'Rio de Janeiro' 'Oh' 'PR'
 'New Delhi' 'Leicestershire' 'DF' 'New Brunswick' 'IN/FL/IL' 'SHANGHAI'
 'Aarhus' 'Maharastra' 'Brabant' 'DALLAS' 'Colorado/Utah' 'London ' 'D.C'
 'Wi' 'Berlin' 'Minnesota (MN)' 'Federal Capital' 'Firenze'
 'Gloucestershire' 'Australia' 'Monmouthshire' 'Changzhou' 'Tyne & Wear'
 'virginia' ' Chorley ' 'Israel' 'Staffordshire' '......' 'Mn' '99669'
 '福建' 'Normandie' 'County Dublin' 'Aberdeenshire' 'WI - Wisconsin' 'NL'
 'Otago' 'Western Australia, AU' 'Metro Manila' 'NEW JERSEY (NJ)'
 'California (CA)' 'N.J.' 'Hanover' 'Qld' 'Devon' 'Cheshire,' 'Jersey'
 'number:17' 'MINNESOTA' 'Anhui' 'Gyeonggi-do' 'NC ' 'County Durham'
 'Beijing' 'Ga.' 'CA - California' 'Shizuoka' 'NEW YORK' 'Dubai'
 'CA, San Diego ' 'CONNECTICUT' 'West Yorkshire' 'United States' 'Wyoming'
 'Or' 'Colorado ' 'RE' 'Remote' 'NEW JERSEY' 'Tehran' '94545' 'Texas (TX)'
 'NV - Nevada' 'Co. Down' 'maryland' 'CA ' '福建省' 'TEXAS' 'Misssouri'
 'South Australia' 'Al.' 'North-Rhine-Westphalia' 'LONDON'
 'Centre-Val de Loire' 'HCMC' 'Hong Kong ' 'Ma' 'Hungary' 'ZG' 'OHIO'
 'Zhejiang' 'Valencian Community' 'Greater London ' 'Alto Adige' '(TN)'
 'Caroline du Nord' 'Florida / Canada ' '|' 'Manitoba' 'Jiangsu'
 'WASHINGTON' 'Wellington' 'mi' 'Illinos' 'Arizona ' 'Lancashire' 'Wa'
 'Pennsylvania ' 'Washington D.C. ' 'Åland' 'Vilniaus' 'Puerto Rico' 'Ky'
 'Malta' 'Global' 'Panamá' 'Brooklyn' 'MD ' 'ON - Ontario' 'Cambs'
 'Louisiana (LA)' 'Hovedstaden' 'Northern Ostrobothnia' 'FLORIDA'
 'Overijssel' 'New York [NY]' 'Italia' 'Skåne County' '广东省'
 'Lincolnwood, Illinois' 'GNG' 'Kerala' '84401' 'OR - Oregon' 'Salzburg'
 'Shenzhen ' 'Coral Gables' 'Galicia' 'Flemish Region' 'Office Address'
 'Cork' 'City of London' 'City and County of Cardiff' 'Fribourg/Freiburg'
 'Bremen' 'North Carolina ' 'US' 'Södermanland' 'P. R. C.'
 'Andhra Pradesh' 'Texas - TX' 'China' 'Fully Remote' 'Hawaii ' 'Picardie'
 'MISSISSIPPI' 'Scotland' 'State/Provincewide' 'Telangan' 'Kansas '
 'St Gallen' 'Antwerp' '\\\u200b' 'Bern' 'ILLINOIS' 'TX - Texas'
 'IN - Indiana' 'Strand' 'NY - New York' 'ARIZONA' 'Taiepi City' '浙江'
 'Massachusetts ' 'UP' 'Gelderland' 'FU JIAN' 'Capital Region'
 'Saskatchewan' 'Hi' 'L6H 1A7' 'North-Holland' ' MA ' 'Lvivska'
 'NORTH CAROLINA' 'Isfahan' 'MD (Maryland)' 'MAINE' 'Online' 'Virgina'
 'Texas ' 'West Midlands ' 'Hampshire' 'Wyoming ' 'South Jutland'
 'ile de france' 'Idaho ' 'New York (NY)' 'Punjab' 'Californie' 'Tirol'
 'Basel-Town' 'Florida ' 'Catalonia' 'DE ' 'Somerset' 'Long Island'
 'tamil nadu' 'New york' ' D.C.' 'West Bengal' 'New York, NY' 'Ny'
 'Occitanie' 'San José' 'Cambodia' 'Antrim' 'Xitun District' '南部科學園區'
 'NewJersey' 'Tyne & Wear ' 'Western Cape' 'West Chester' 'Champaign' 'ct'
 'Sofia City' 'MN ' 'Illinois ' 'West Point' 'England ' 'Washington '
 'CA California' 'Washington (WA)' 'County Cavan' 'Bucharest' 'Az'
 'Skærbæk' 'Gyeonggi' 'Danmark' '85226' 'Dorset' 'Canton of Vaud' '97224'
 'AZ - Arizona' 'United Kingdom ' '경기도' 'Basel-Stadt' 'Antioquia'
 'Wellington Region' 'LA - Louisiana' 'TX ' 'Amstelplein' 'WISCONSIN'
 'Ciudad de México' 'Utah ' 'Avon,' 'Tyrol' 'Minnesota ' 'Buskerud'
 'Rajasthan' 'OKlahoma' 'Harayana ' 'Delhi' 'Rogaland' 'OH Ohio'
 'Kesklinna linnaosa' 'Attikí' '广东' 'Solihull' 'Schaffhausen'
 'San Salvador' 'Florida (FL)' 'ENGLAND' 'Lincolnshire' 'Kwazulunatal'
 'haryana' 'd.c.' 'Ontairo' 'COLORADO (CO)' 'Gauting' 'Texas [TX]'
 'Gavleborg County' 'Dhaka' '湖南' 'Ciudad autónoma de Buenos Aires'
 'Îledefrance' 'Texas - USA' 'Louisiana ' 'HM' 'Saitama, Tokyo' 'Nv'
 'Basildon' 'Washington DC' '1828 Swift Street' 'MO - Missouri'
 'Francisco Morazán' 'WASHINGTON DC' 'N.C. ' 'georgia' 'Auckland '
 'England, United Kingdom' 'UK/ USA' 'Atlanta GA' 'India' 'Durham '
 'Japan ' 'Oost-Vlaanderen' ' CA' 'Treviso' 'Gurgaon' 'Prague' 'UTAH'
 'Zürich' 'Qld ' 'Maryland ' 'Telangana ' 'Colorado (CO)' 'DELHI'
 'Northern Ireland' 'Id' '安徽省' 'B.C.' 'Bologna' 'Indonesia' 'Braşov' 'UK '
 'OKLAHOMA' 'Massachussetts ' 'FL ' 'TX  ' 'Nairobi' 'Mazowieckie'
 'Greater Manchester ' 'Madhya Pradesh' 'TELANGANA' 'RJ' 'Kyiv'
 'TEXAS (TX)' 'WC' 'Hong Kong Island' 'Shanghai Jing’An' 'karnataka'
 'GEORGIA' 'Attiki' 'Berkshire ' 'MH' 'Mpumalanga' 'Karnataka '
 '2141 s 211th St #G' 'UT Utah' 'FRANCE' 'Puerto Rico ' 'caracas '
 'Eastern Cape' 'Fujian' 'Chicago' 'Kingston' 'Louisianna'
 'North Vancouver' 'Rome' 'new jersey' 'california' 'Indiana '
 'DC Metropolitan Area' 'Balearic Islands' 'National Capital Region'
 'District of Columbia ' 'lower dir' 'US state' 'State'
 'United State Of America ' 'Manhattan ' 'New york  '
 '8815 Conroy Windermere Rd, STE 108']
country ['US' 'IE' 'OO' 'DE' 'GB' 'SE' 'FI' 'NL' 'CH' 'JP' 'FR' 'IN' '0' 'CA' 'DK'
 'AU' 'BE' 'CN' 'LU' 'IT' 'NO' 'BR' 'MX' 'SA' 'TW' 'ZA' 'RO' 'SG' 'HK'
 'IL' 'AT' 'ES' 'BM' 'EE' 'NZ' 'IS' 'AE' 'MC' 'KR' 'LI' 'PT' 'HU' 'MT'
 'VN' 'MU' 'JM' 'PR' 'PK' 'AF' 'PH' 'UA' 'IR' 'LB' 'LT' 'PA' 'CL' 'CR'
 'KH' 'BG' 'CO' 'GR' 'SV' 'BD' 'AR' 'HN' 'CZ' 'CY' 'KW' 'ID' 'MA' 'KE'
 'PL' 'TR' 'NG' 'GE' 'AZ' 'JO' 'KY' 'VE' 'SC' 'TZ']
city ['Armonk, New York' 'Chicago' 'Houston' ... 'Summerland' 'Allston'
 'YORKTOWN HEIGHTS']
zip_code ['10504' '0' '77389' ... '02134' '29907' '08865']
address ['International Business Machines Corp.' '-' '1701 E Mossy Oaks Rd Spring'
 ... '1101-03 W 36th St' '49 Broadway' '720 2nd Street Pike']
url ['https://www.linkedin.com/company/ibm'
 'https://www.linkedin.com/company/gehealthcare'
 'https://www.linkedin.com/company/hewlett-packard-enterprise' ...
 'https://www.linkedin.com/company/kings-and-queens-productions-llc'
 'https://www.linkedin.com/company/webunite'
 'https://www.linkedin.com/company/blackve']

In [ ]:
print(df.duplicated().sum())
# count of duplicate rows

0

In [18]:
df['name'].value_counts().head(20)

name
Confidential           5
Archer                 2
Entegee                2
Pandora                2
RMI                    2
Builders               2
St. Joseph's Health    2
Atlas                  2
CSI                    2
swipejobs              2
C Spire                2
Paradigm               2
CAI                    2
Concentric             2
Elevate                2
Indigo                 2
Ascend                 2
Empyrean               2
Baptist Health         2
Law Firm               2
Name: count, dtype: int64